x-healthchecks: &healthchecks
  postgres: &postgres_healthcheck
    test: ["CMD-SHELL", "pg_isready -U ${APP_DB_USER:?err} -d ${POSTGRES_DB:?err}"]
    interval: 5s
    timeout: 5s
    retries: 5
  redis: &redis_healthcheck
    test: ["CMD", "redis-cli", "ping"]
    interval: 5s
    timeout: 5s
    retries: 5

x-postgres-env: &postgres_environment
  POSTGRES_DB: ${POSTGRES_DB:?err}
  POSTGRES_USER: ${POSTGRES_USER:?err}
  POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:?err}

x-postgres-base: &postgres_base
  image: postgres:14.19-alpine
  environment: *postgres_environment
  healthcheck: *postgres_healthcheck
  restart: always

x-redis-base: &redis_base
  image: redis:7.0-alpine
  command: redis-server --appendonly yes
  healthcheck: *redis_healthcheck
  volumes:
    - redis_data:/data
  restart: always

x-app-db-creds: &app_db_creds
  POSTGRES_HOST: db
  POSTGRES_PORT: 5432
  POSTGRES_USER: ${APP_DB_USER:?err}
  POSTGRES_PASSWORD: ${APP_DB_PASSWORD:?err}
  POSTGRES_DB: ${POSTGRES_DB:?err}

x-worker-common-env: &worker_common_env
  INGESTION_QUEUE_HOST: redis
  CATEGORIZATION_QUEUE_HOST: redis
  <<: *app_db_creds

x-worker-build: &worker_build
  context: ./owm-etl-pipeline
  dockerfile: Dockerfile

services:

  db:
    <<: *postgres_base
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./outpost-db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    
  redis:
    <<: *redis_base
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  owm-scheduler:
    build: *worker_build
    command: sh -c "python /app/worker_scheduler.py && sleep 60"
    container_name: owm_scheduler
    restart: always
    environment:
      <<: *worker_common_env
      WORKER_NAME: owm-request-scheduler-cron
    volumes:
      - scheduler_data:/tmp
    depends_on:
      redis:
        condition: service_healthy
  
  owm-ingestion-workers:
    build: *worker_build
    command: python /app/worker_ingestion.py
    environment:
      <<: *worker_common_env
      WORKER_NAME: owm-ingestion-workers
    volumes:
      - ingestion_data:/tmp
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
        
  weather-categorization-workers:
    build: *worker_build
    command: python /app/worker_categorization.py
    volumes:
      - scheduler_data:/app/data/persistent/scheduler
    environment:
      <<: *worker_common_env
      WORKER_NAME: weather-categorization-worker-1
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
  
  adminer:
    image: adminer:latest
    container_name: adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      ADMINER_DEFAULT_SERVER: db

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    ports:
      - "5540:5540"
    volumes:
      - redisinsight_data:/data
    depends_on:
      - redis

volumes:
  postgres_data:
  redis_data:
  scheduler_data:
  ingestion_data:
  redisinsight_data: